body{
    background-image: url("bg2.jpg");
}
.contact{
    margin-left: 110px;
    margin-top: 20px;
    height: 50px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px royalblue;
    font-size: 15px;
    text-align: center;
    outline: none;
}
#subject{
    margin-left: 60px;
    margin-top: 20px;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px royalblue ;
    font-size: 15px;
    text-align: center;   
    outline: none;
}
input[type="submit"]{
    margin-top: 0px;
    border-radius:10px;
    height: 50px;
    width: 150px;
    text-align: center;
    /* margin-top: 10px; */
    margin-left: 75%;
    font-weight: bold;
    font-size: 150%;
    /* background-image: url("bg7.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: lightblue;
    outline: none;
}
h1{
    font-family: fantasy;
    font-size: 50px;
    /* position: relative; */
    margin-left: 23%;
    color: teal;
}
 /* .container{
    /* background-image: url("bg3.jpg"); */
    /* width: 800px;
    margin-top: 25px; */
    /* height: 550px; */
    /* background-size: cover;
    background-position: center; */
/* }  */
.label1{
    font-size: 24px;
    margin-left: 26%;
}
#first{
    margin-left:80px;
}
#third{
    margin-left:70px;
}
.navbar .navbar-nav>li>a{
    color:black;
    font-size: 17px;
    margin-bottom: 0px;
}
.navbar-default{
    margin-top: 0;
    margin-bottom: 0;
}
#image {
    width: 80px;
    height: 40px;
    margin-top: 6px;
    margin-right: 6px;
} 
.footer {
    background-color:steelblue;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    position: absolute;
  }
  
  /* Style the links inside the navigation bar */
  .footer a {
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* margin-left: 40px; */
  }
  #link1{
    margin-left: 100px;
}
.link{
    margin-left:5px ;
}
#link4{
    margin-left: 650px;
}
#link5{
    margin-left: 5;
}