.navbar .navbar-nav>li>a{
    color:black;
    font-size: 17px;
    margin-bottom: 0px;
}
.navbar-default{
    margin-top: 0;
    margin-bottom: 0;
}
#image {
    width: 80px;
    height: 40px;
    margin-top: 6px;
    margin-right: 6px;
} 

.jumbotron{
    background-image: url("traffic.jpg");
   
}
#header{
    color:white;
}
.heading{
    font-family: bold;
}
#first{
    display: inline-block;
    margin-top:40px;
    margin-left: 150px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   font-size: large;

}
#p1{
    font-weight: bolder;
    font-size: larger;
}
#second{
    display: inline-block;
    margin-top:60px;
    margin-left: 220px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
}
.p2{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#third{
    display: inline-block;
    margin-top: 40px;
    margin-left: 220px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
}
.footer {
    background-color:steelblue;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    position: absolute;
  }
  
  /* Style the links inside the navigation bar */
  .footer a {
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* margin-left: 40px; */
  }
  #link1{
      margin-left: 100px;
  }
  .link{
      margin-left:5px ;
  }
  #link4{
      margin-left: 650px;
  }
  #link5{
      margin-left: 5;
  }